
body{
    background-color: rgb(233, 233, 225);
  }
  
  @media(max-width: 940px){

    .content{
      padding: 20px;
    }

    .text h1{
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
    }

    .text p{
        padding: 0px 8px;
        text-align: justify;
        font-size: 18px;
    }
    
    .text span{
        font-weight: bold;
        font-style: italic;
    }
    
    .list{
        width: 240px;
        height: 420px;
        margin-top: 50px !important;
        margin-bottom: 0px !important;
        margin: auto;
        position: static;
        top: 1;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .list ul li{
        list-style: none;
        padding: 0;
    }


}    