body{
  background-color: rgb(233, 233, 225);
}

@media(max-width: 940px){
  body {
    background-color: rgb(184, 184, 161);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar{
    height: 65px; 
    background-color: rgb(75, 43, 22); 
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 15px;
    position: fixed;
    bottom: 0;
    width: 100%; 
    z-index: 1000;
  } 
  
  .navbar i{
    padding: 20px;
    color: rgb(201, 201, 201);
    font-size: 25px;
  }

  .navbar a{
    text-decoration: none;
    padding: 14px;
  }
}